/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/

.btn-outline-action {
  color: #aeb820;
  border-color: #aeb820;
}

.btn-outline-action:hover {
  color: #fff;
  background: #aeb820;
  transition: background 0.2s ease;
}

.btn-outline-sec-action {
  color: #45505b;
  border-color: #45505b;
}

.btn-outline-sec-action:hover {
  color: #fff;
  background: #45505b;
  transition: background 0.2s ease;
}

.call-to-actions-group {
  display: flex;
  justify-content: center;
}

.call-to-actions-group a, .call-to-actions-group button {
  margin-right: 20px;
}
